#con{
	width: 800px;
	height: 850px;
	margin: 0px auto;
}

#big{
	width: 504px;
	height: 450px;
	margin: 0px auto;
	margin-bottom: 30px;
}

#b1{
   width: 250px;
   height: 225px;
   float: left;
}

#b1 img{width: 100%; height: 100%;}

#b2{
   width: 250px;
   height: 225px;
   float: left;
}

#b2 img{width: 100%; height: 100%;}

#b3{
   width: 250px;
   height: 225px;
   float: left;
}

#b3 img{width: 100%; height: 100%;}

#b4{
   width: 250px;
   height: 225px;
   float: left;
}

#b4 img{width: 100%; height: 100%;}

h1{
	color: #5f9ea0;
	text-align: center;
}

#p1{
	font-size: 15px;
	color: #778899;
	text-indent: 2em;
	font-family: '宋体'；

}

#con_left_bottom{
	width: 800px;
	margin: 0px auto;
	text-align: center;
	margin-top: 5px;
	color: #5f9ea0;
	font-size: 15px;
	text-decoration: overline;
}